In [1]:
# import dependencies

import pandas as pd
import gmaps
import requests

#import api

from config import g_key

In [2]:
# store csv saved created in part one into dataframe

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Russell,US,2022-07-13 12:57:01,32.3502,-85.1999,77.00,94,100,0.00
1,1,Yerofey Pavlovich,RU,2022-07-13 13:00:33,53.9667,121.9667,59.58,98,100,3.71
2,2,Dzilam Gonzalez,MX,2022-07-13 13:00:35,21.2833,-88.9333,80.38,81,98,6.40
3,3,Constitucion,CL,2022-07-13 13:00:35,-35.3333,-72.4167,52.00,89,100,9.71
4,4,Mapiripan,CO,2022-07-13 13:00:36,2.8892,-72.1256,74.86,91,70,6.11

In [3]:
# get data types for city_data_df
# One caveat to using gmaps: The data we use for any mapping must be either an integer or a floating-point decimal number. Let's check the data types for the columns of our DataFrame.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# config gmaps to use your google api key

gmaps.configure(api_key=g_key)

In [5]:
# create heat map for max temp, syntax as follows:

# 1. assign locations to an array of lat/lon pairs
# locations = [latitude, longitude]

# 2. assign weights variable to some values
# temperatures = # an array of length equal to the locations array length

# 3. assign the figure variable to the gmaps.figure() attribute
# fig = gmaps.figure()

# 4. assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations
# heatmap_layer = gmaps.heatmap_layer(locations, weights = temperatures)

# 5. add the heatmap layer
# fig.add_layer(heatmap_layer)

# 6. call the figure to plot the data
# fig

In [6]:
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Figure(layout=FigureLayout(height='420px'))

In [8]:
# get max temp

max_temp = city_data_df["Max Temp"]
temps = []

for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# get max humidity

humidity = city_data_df["Humidity"]
humidity = []

for humidity in humidity:
    temps.append(max(humidity,0))

In [9]:
# modification after get max temp above

locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Instead of using the for loop, we can perform a list comprehension within the heatmap_layer() function.

locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Adjust Heatmap Zoom, Intensity, and Point Radius

locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]

# Adjust Heatmap Zoom, Intensity, and Point Radius
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# dissipation - 3 options:
# 1. The default option for the dissipation is "True," so we need to set our "dissipation" to "False."
# 2. We can add max_intensity to make each measurement have a better gradient variance.
# 3. We can add point_radius to make each measurement radius larger.

locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)

#dissipating
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# heatmap of percent humidity 

locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# heatmap of percent cloudiness 

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# heatmap of percent wind speed 

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# ask to customer to add a min and max temp

min_temp = float(input("What is the minimum temp you want?"))
max_temp = float(input("What is the maximum temp you wnat?"))

What is the minimum temp you want?75
What is the maximum temp you wnat?90

In [45]:
# filter the dataset to find the cities that fit the above criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Russell,US,2022-07-13 12:57:01,32.3502,-85.1999,77.00,94,100,0.00
2,2,Dzilam Gonzalez,MX,2022-07-13 13:00:35,21.2833,-88.9333,80.38,81,98,6.40
5,5,Belmonte,BR,2022-07-13 13:00:37,-15.8631,-38.8828,78.01,64,9,3.36
9,9,Plainview,US,2022-07-13 12:55:58,40.7765,-73.4673,81.75,63,20,9.22
10,10,Jieshi,CN,2022-07-13 13:00:41,22.8134,115.8257,84.00,80,14,6.71
12,12,Atuona,PF,2022-07-13 13:00:43,-9.8000,-139.0333,77.40,76,18,20.42
16,16,Nynashamn,SE,2022-07-13 13:00:48,58.9034,17.9479,76.15,61,100,14.65
17,17,Progreso,MX,2022-07-13 13:00:48,21.2833,-89.6667,80.11,83,100,8.52
20,20,Tarakan,ID,2022-07-13 13:00:51,3.3000,117.6333,80.40,79,100,3.20
21,21,Baft,IR,2022-07-13 13:00:52,29.2340,56.6057,85.51,6,2,12.59

In [46]:
# find null values in results

preferred_cities_df.count()

City_ID       229
City          229
Country       227
Date          229
Lat           229
Lng           229
Max Temp      229
Humidity      229
Cloudiness    229
Wind Speed    229
dtype: int64

In [47]:
# create dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df ["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0           Russell      US     77.00  32.3502  -85.1999
2   Dzilam Gonzalez      MX     80.38  21.2833  -88.9333
5          Belmonte      BR     78.01 -15.8631  -38.8828
9         Plainview      US     81.75  40.7765  -73.4673
10           Jieshi      CN     84.00  22.8134  115.8257
12           Atuona      PF     77.40  -9.8000 -139.0333
16        Nynashamn      SE     76.15  58.9034   17.9479
17         Progreso      MX     80.11  21.2833  -89.6667
20          Tarakan      ID     80.40   3.3000  117.6333
21             Baft      IR     85.51  29.2340   56.6057

In [49]:
# retrieve hotels from a nearby search
# set parameters to search for a hotel

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [50]:
# iterate through the dataframe

for index, row in hotel_df.iterrows():
    # get the lat and lon
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add lat and lon to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # use the search term: "lodging" and our lat and long
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and get the JSON data from the search
    
    hotels = requests.get(base_url, params = params).json()
    
    # grab the first hotel from the results and store the name
    
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

IndexError: list index out of range

In [ ]:
# modified with try/except block

# iterate through the dataframe

for index, row in hotel_df.iterrows():
    # get the lat and lon
    lat = row["Lat"]
    lng = row["Lng"]
    
    # add lat and lon to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # use the search term: "lodging" and our lat and long
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request and get the JSON data from the search
    
    hotels = requests.get(base_url, params = params).json()
    
    # grab the first hotel from the results and store the name
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print ("Hotel not found... skipping.")

In [53]:
# add heatmap of temp for vacation spots

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

#call figure to plot data

fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
# add heathmap of temp for the vacation spots and marker for each city

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations,weights = max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# call figure to plot data

fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
#html
# The <dl> tag is a description list (dl).
# The <dt> tag is a term or name in a description list that is nested under the <dl> tag.
# The <dd> tag is used to define the term or name or <dt> tag.

info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [56]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [57]:
# store the dataframe row

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
# add a heatmap of temperature for the vacation spots and a pop up marker for each city

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))